/*-------------------------- D3  ----------------------------------*/
.d3-directive {
 
  background-color: #fff;      /* royal purple */
  height: 500px;
  width: 98%;
  margin-right: : 0px;
  padding-right: : 0px;
  border-radius: 5px;
}
 
/*-------------------------- D3 - END ----------------------------------*/
 
/*-------------------------- D3 Delaunay Force Mesh Begin  ----------------------------------*/
 
/*-------------------------- D3 Delaunay Force Mesh End  ----------------------------------*/
 
 
/*-------------------------- D3 Particles  ----------------------------------*/
#d3-particles {
  /*position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;*/
  background: #222;
}
 
#d3-particles rect {
  fill: none;
  pointer-events: all;
}
 
#d3-particles circle {
  fill: none;
  stroke-width: 2.5px;
}
/*-------------------------- D3 Particles - END ----------------------------------*/
 
/*-------------------------- D3 Rotating Voronoi ----------------------------------*/
 
 
#rotating-voronoi path {
  fill: #fff;            /* NOTE:  fill color needs to match general d3-directive class background-color*/
  stroke: #563d7c;      /* royal purple */
  stroke-width: 1.5px;
}
/*-------------------------- D3 Rotating Voronoi - END ----------------------------------*/
 
 
/*-------------------------- D3 Gears ----------------------------------*/
#gears {
}
 
.gears-form form {
  position: relative;
  top: 0m;
  left: 0;
  margin-top: 25px;
  background-color: yellow;
  width: 100%;
}
 
#gears svg {
  position: relative;
  top: 0px;
  left: 0px;
}
 
 
#gears path {
  fill-rule: evenodd;
  stroke: #333;
  stroke-width: 2px;
}
 
.gears-sun path {
  fill: yellow;
  opacity: 0.50;
}
 
.gears-planet path {
  fill: gold;
  opacity: 0.75;
}
 
.gears-annulus path {
  fill: #563d7c;      /* royal purple */
  opacity: 0.5;
}
/*-------------------------- D3 Gears - END ----------------------------------*/
 
 
 
/*-------------------------- Google Charts - END ----------------------------------*/
 
/********** Large devices only **********/
@media (min-width: 1200px) {
 
}
 
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 
 
}
 
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 
 
/********** Extra small devices only **********/
@media (max-width: 767px) {
 
  .d3-directive {
    background-color: #fff;      /* royal purple */
    height: 250px;
  }
 
 
}
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
 
  .d3-directive {
    background-color: #fff;      /* royal purple */
    height: 250px;
  }
 
}